<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="header-logo">
          <img src="/static/axist_footer_logo.png" />
        </div>
        <div class="home-link">
          <p><a href="/"> Home </a></p>
        </div>
        <div class="nav-link">
          <p><a href="/newcustomer/"> New Customer </a></p>
        </div>
      </nav>
    </header>
    <table>
      {% for customer in customers %}
      <tr>
        <td>QB ID: {{customer.id}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.phone}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
