<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <header>
      <div class = "header-logo">
      <img src = "/static/axist_footer_logo.png">
      </div>
      <nav>
        <div class = "home-link">
        <p><a href="/dashboard/"> Home </a></p>
        </div>
        <div class = "nav-link">
        <p><a href="/customers/"> Customer Dashboard </a></p>
        <p><a href="/rentals/"> Rental Dashboard </a></p>
        <p><a href="/estimates/"> Estimates </a></p>
        </div>
      </nav>
    </header>
  </body>
</html>
