<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main.css" />
    <title>Login</title>
</head>
<body>
    <header>
      <nav>
        <div class="header-logo">
          <img src="/static/axist_footer_logo.png" />
        </div>
      </nav>
    </header>
    <div class="login-container">
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form method="POST" action="/login/" class = "login-form">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required/>
            <input type="password" name="password" placeholder="Password" required/>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>