<!doctype html>
<html>
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main.css" />
    <title>New Customer</title>
    </head>
<body>
<form method="post" action="/createcustomer/" id="create-new-customer-form">
      {% csrf_token %}
      <p>
        <label for="new-customer-name">Name: </label>
        <input
          type="text"
          id="new-customer-name"
          name="name"
          placeholder="Customer Name"
          required
        />
      </p>

      <p>
        <label for="new-customer-email">Email: </label>
        <input
          type="email"
          id="new-customer-email"
          name="email"
          placeholder="Customer Email"
          required
        />
      </p>

      <p>
        <label for="new-customer-phone">Phone: </label>
        <input type="tel" id="new-customer-phone" name="phone" 
        pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder = "123-456-7890"/>
      </p>

      <p><input type="submit" /></p>
    </form>
</body>
</html>