<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main.css" />
    <title>Dashboard</title>
  </head>
  <header>
    <nav>
        <p><a href="/"> Home </a></p>
        <p><a href="/newrental/"> New Rental </a></p>
    </nav>
</header>
  <body>
    <table>
      {% for rental in rentals %}
      <tr>
        <td>Customer: {{rental.customer.name}}</td>
        <td>Location: {{rental.location}}</td>
        <td>Total Price: {{rental.totalPrice}}</td>
        <td><a href="{% url 'rental_card' id=rental.id %}">View</a></td>
      </tr>
      {% endfor %}
    </table>

  </body>
</html>
